<script setup lang="ts">
import { mdiEmailBox , mdiEmailEditOutline} from '@mdi/js';
</script>
<template>
    <v-card
      class="mx-auto"
      max-width="500"
    >
      <v-card-item class="bg-cyan-darken-1">
        <v-card-title>
          <span class="text-h5">Email</span>
        </v-card-title>
  
        <template v-slot:append>
          <v-defaults-provider
            :defaults="{
              VBtn: {
                variant: 'text',
                density: 'comfortable',
              }
            }"
          >
            <v-btn :icon="mdiEmailBox"></v-btn>
  
 
          </v-defaults-provider>
        </template>
      </v-card-item>
  
      <v-list>
        
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiEmailEditOutline"
          title="65160070@go.buu.ac.th"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiEmailEditOutline"
          title="65160084@go.buu.ac.th"
        ></v-list-item>

        <v-divider inset></v-divider>

        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiEmailEditOutline"
          title="65160156@go.buu.ac.th"
        ></v-list-item>
  
        <v-divider inset></v-divider>

        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiEmailEditOutline"
          title="65160169@go.buu.ac.th"
        ></v-list-item>

        <v-divider inset></v-divider>

        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiEmailEditOutline"
          title="65160200@go.buu.ac.th"
        ></v-list-item>
      </v-list>
  
      <v-img
        cover
        height="200"
        src="https://riccosmartdata.com/wp-content/uploads/2021/11/email-06-300x218.jpg"
      ></v-img>
    </v-card>
</template>