<script setup lang="ts">
import { ref } from 'vue'
import { mdiVolumeSource, mdiMovieRoll, mdiLanguageJava,mdiLanguagePython, mdiNumeric1Circle, mdiNumeric2Circle, mdiNumeric3Circle, mdiNumeric4Circle } from '@mdi/js'
import { useTypeStore } from "../type/type"
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()
const useType = useTypeStore()
const tab = ref(null)
const time = ref([])
</script>

<template>
  <v-card>
    <v-container>
      <v-row>
        <v-col style="color: #00E676;" cols="3">
          
          <h2 ><v-icon :icon="mdiNumeric1Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
          <p2>เลือกภาพยนตร์</p2>
        </v-col>
          <v-col cols="3">
            <h2><v-icon :icon="mdiNumeric2Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
            <p2>เลือกรอบฉาย</p2>
          </v-col>
          <v-col cols="3">
            <h2><v-icon :icon="mdiNumeric3Circle" size="x-large" class="ma-5"></v-icon> ---------------- </h2>
            <p2 class="ma-3">เลือกที่นั่ง</p2>
          </v-col>
          <v-col  >
            <h2><v-icon :icon="mdiNumeric4Circle" size="x-large" class="ma-5"></v-icon> </h2>
            <p2> ซื้อตั๋ว / ชำระเงิน</p2>

          </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-card>
    <v-tabs bg-color="deep-purple-darken-4" center-active v-model="tab">
        <v-tab value="four" @click="useTicket.ticketDate('WED 31 MAY')">WED 31</v-tab>
      <v-tab value="five" @click="useTicket.ticketDate('THU 01 JUN')">THU 01</v-tab>
      <v-tab value="six" @click="useTicket.ticketDate('FRI 02 JUN')">FRI 02</v-tab>
      <v-tab value="seven" @click="useTicket.ticketDate('SAT 03 JUN')">SAT 03</v-tab>  
      <v-tab value="one" @click="useTicket.ticketDate('SUN 04 JUN')">Sun 04</v-tab>
      <v-tab value="two" @click="useTicket.ticketDate('MON 05 JUN')">MON 05</v-tab>
      <v-tab value="three" @click="useTicket.ticketDate('TUE 06 JUN')">TUE 06</v-tab>
      <v-tab value="eight" @click="useTicket.ticketDate('WED 07 JUN')">WED 07</v-tab>
      <v-tab value="nine" @click="useTicket.ticketDate('THU 08 JUN')">THU 08</v-tab>
      <v-tab value="ten" @click="useTicket.ticketDate('FRI 09 JUN')">FRI 09</v-tab>
      <v-tab value="eleven" @click="useTicket.ticketDate('SAT 10 JUN')">SAT 10</v-tab>  
      <v-tab value="twelve" @click="useTicket.ticketDate('SUN 11 JUN')">SUN 11</v-tab>
      <v-tab value="thirteen" @click="useTicket.ticketDate('MON 12 JUN')">MON 12</v-tab>
      
    </v-tabs>
    <v-table>
      <v-card-text>
        <v-window v-model="tab">
          <v-window-item value="four">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1" ></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE2 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">20:00</v-btn>

                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">16:30</v-btn>

                  </td>
                </tr>
              </tbody>
            </v-table>

          </v-window-item>
          <v-window-item value="five">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE2 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('11:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">20:00</v-btn>

                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">16:30</v-btn>

                  </td>
                </tr>
              </tbody>
            </v-table>

          </v-window-item>
          <v-window-item value="six">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE2 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('11:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">20:00</v-btn>

                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">16:30</v-btn>

                  </td>
                </tr>
              </tbody>
            </v-table>

          </v-window-item>
          <v-window-item value="seven">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>

                    <div> THEATRE3 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">18:00</v-btn>

                  </td>

                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('11:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">20:00</v-btn>

                    <div> THEATRE5 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">16:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">17:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">20:30</v-btn>

                    <div> THEATRE6 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 6)')">16:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 6)')">18:00</v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>

          </v-window-item>  
          <v-window-item value="one">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>

                    <div> THEATRE3 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 3)')">18:00</v-btn>

                  </td>

                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('11:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">20:00</v-btn>

                    <div> THEATRE5 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">16:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">17:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 5)')">20:30</v-btn>

                    <div> THEATRE6 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH/--</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 6)')">16:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 6)')">18:00</v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>

          </v-window-item>
          <v-window-item value="two">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE2 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('11:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">20:00</v-btn>

                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">10:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">16:30</v-btn>

                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-window-item>

          <v-window-item value="three">
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    <v-icon :icon="mdiMovieRoll"></v-icon> เลือกรอบฉาย
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguagePython" size="large" color="teal-lighten-1"></v-icon> Python Bangsaen</h2>
                    <br>
                    <div> THEATRE1 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">12:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('15:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">15:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('18:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">18:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('21:00'), useTicket.ticketWhere('Python Bangsaen (THEATRE 1)')">21:00</v-btn>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h2><v-icon :icon="mdiLanguageJava" size="x-large"></v-icon> Java Chonburi</h2>
                    <br>
                    <div> THEATRE2 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> EN/TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('12:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">11:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('14:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">14:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('17:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">17:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('20:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 2)')">20:00</v-btn>

                    <div> THEATRE4 | <v-icon :icon="mdiVolumeSource" color="white"></v-icon> TH</div>

                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('10:00'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">10:00</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('13:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">13:30</v-btn>
                    <v-btn color="indigo-lighten-4" class="ma-2" to="/seat" @click="useTicket.ticketTime('16:30'), useTicket.ticketWhere('Java Chonburi (THEATRE 4)')">16:30</v-btn>

                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-window-item>
        
          <v-window-item value="eight">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          <v-window-item value="nine">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          <v-window-item value="ten">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          <v-window-item value="eleven">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          <v-window-item value="twelve">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          <v-window-item value="thirteen">
            <v-table>
              <thead>
                <tr>
                  <th class="text-center">
                    <h2>ไม่มีรอบฉายในวันที่เลือก</h2>
                  </th>
                </tr>
              </thead>
            </v-table>
          </v-window-item>

          
        </v-window>
      </v-card-text>
    </v-table>
  </v-card>
</template>
