<script setup lang="ts">
import { mdiCashMultiple , mdiBank , mdiPiggyBank  } from '@mdi/js';
import { ref } from "vue";
const items = ref([
    {text: "ชำระเงินสด",icon: mdiCashMultiple},
    {text: "ชำระเงินผ่านธนาคาร", icon: mdiBank},
    {text: "ชำระเงินผ่านแอป",icon: mdiPiggyBank}
])
</script>
<template>
   <v-card
    class="mx-auto pa-2"
    max-width="300"
  >
    <v-list>
      <v-list-subheader>ช่องทางชำระเงิน <v-icon :icon="mdiBank"></v-icon></v-list-subheader>

      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :value="item"
        color="primary"
        rounded="xl"
        to="/End"
      >
        <template v-slot:prepend>
          <v-icon :icon="item.icon" ></v-icon>
        </template>

        <v-list-item-title v-text="item.text"></v-list-item-title>

      </v-list-item>
    </v-list>
  </v-card>
</template>